/.vscode
/bin
/configure/CONFIG_SITE.local
/configure/O.*
/configure/RELEASE.local
/db
/dbd
/include
/lib
/mrfApp/Db/O.*
/mrfApp/Db/mrf_db_gen/__pycache__
/mrfApp/mrfCommonSrc/O.*
/mrfApp/mrfEpicsMmapSrc/O.*
/mrfApp/mrfEpicsSrc/O.*
/mrfApp/mrfEpicsUdpIpSrc/O.*
/mrfApp/mrfMmapSrc/O.*
/mrfApp/mrfUdpIpSrc/O.*
/simulator/mrfsim/__pycache__
